.container{
    padding-top: 2%;
}
.form-container {
    max-width: 30%;
}
#Orders{
    background-color: grey;
}
.form-label{
    margin-bottom: 1.5px;
}
.p-3 {
    background-color: white;
}
.table{
    margin-left: 15%;
}
.row{
    padding-top: 20px;
}